@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  font-family: Lato;
  margin: 0px;
  outline: 0px;
}

body {
  background-color: white;
}

table {
  margin: 30px;
  padding: 20px;
  width: 100%;
}

h3 {
  margin: 2px;
  margin-top: 4px;
  padding: 3px;
  padding-bottom: 3px;
}

.txt {
  margin: 2px;
  padding: 5px;
}

a,
.url {
  font-size: 100%;
  padding: 0px;
  text-decoration: underline;
  background-color: transparent;
  border: 0px;
  color: #339;
}

a:hover,
.url:hover {
  cursor: pointer;
  text-decoration: none;
  background-color: #eee;
}

.code {
  margin: 2px;
  padding: 3px;
  background-color: lightblue;
}

.entry,
.button,
.code {
  margin: 2px;
  padding: 5px;
  width: 170px;
  height: 25px;
  border-radius: 3px;
  border: 1px solid black;
}

.button {
  width: 100px;
  height: 30px;
  background-color: white;
}

.button:hover {
  background-color: #eee;
}

.button:active {
  background-color: gray;
}

.info {
  text-align: center;
  color: blue;
  float: left;
  background-color: white;
  border: 1px solid gray;
  margin-right: 6px;
  height: 20px;
  width: 20px;
  border-radius: 25px;
}

#session-info {
  background-color: lightblue;
  margin: 5px;
  padding: 10px;
}

#topbar-left {
  float: left;
  justify-content: left;
}

#topbar-right{
  float: right;
  justify-content: right;
  border-left: 1px solid lightgray;
}

#topbar-left,
#topbar-right {
  display: flex;
  flex-direction: row;
  width: calc(50% - 1px);
  height: 20px;
}

.topbar-item {
  display: flex;
  overflow: hidden;
  width: 100px;
  height: 20px;
  justify-content: center;
  align-items: center;
}

#topbar {
  padding: 5px;
  width: 100;
  height: 20px;
  border-bottom: 1px solid black;
}

#container {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#content {
  text-align: justify;
  display: flex;
  justify-content: center;
  padding: 10px;
  overflow: hidden;
  background-color: lightgray;
  height: 100%;
  padding: 0px;
}

#content #center {
  background-color: white;
  width: 70%;
  border: 1px solid lightgray;
  padding: 5px;
}

@media screen and (max-device-width: 480px) and (orientation: portrait) {
  * {
    font-size: 103%;
  }
  table {
    font-size: 80%;
    margin: 0px;
    padding: 0px;
  }
  #content #center {
    width: 100%;
  }
  #topbar {
    font-size: 100%;
    padding: 0px;
    height: 61px;
  }
  #topbar-right,
  #topbar-left {
    border-left: 0px;
    width: 100%;
    height: 30px;
    float: left;
    justify-content: left;
  }
  #topbar-right {
    border-top: 1px solid lightgray;
    justify-content: center;
  }
  .topbar-item {
    text-align: center;
    margin: auto;
  }
}

@media screen and (max-device-width: 640px) and (orientation: landscape) {
  * {
    font-size: 103%;
  }
  #content #center {
    width: 95%;
  }
  #topbar {
    padding: 0px;
    height: 30px;
  }
  .topbar-item {
    height: 30px;
    margin: auto;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  * {
    font-size: 101%;
  }
  #content #center {
    width: 80%;
  }
  #topbar {
    height: 40px;
  }
  #topbar-left,
  #topbar-right {
    height: 40px;
  }
  .topbar-item {
    height: 40px;
    margin: auto;
  }
}
